
<? include partials/header ?>

<h1>Camp Sites</h1>

<? campsites.forEach(function(site) { ?>

  <div>

    <h4>
      <?= site.name ?>
    </h4>
    <img src="<?= site.photo ?>">

  </div>

<? }); ?>

<a href="/">Home</a>

<? include partials/footer ?>
