
<? include partials/header ?>

<div class="container text-center">

  <header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>
    <p>View our hand-picked campground from all over the world</p>
    <p>
      <a class="btn btn-primary btn-lg" href="campsites/new">Add New Campsite</a>
    </p>
  </header>

  <? campsites.forEach(function(site) { ?>
    <div>
      <h4><?= site.name ?></h4>
      <img src="<?= site.imageURL ?>">
    </div>
  <? }); ?>

  <a href="/">Home</a>

</div>

<? include partials/footer ?>
