
<? include partials/header ?>

<h1>Create a New Campsite</h1>

<form action="/campsites" method="POST">
  <input type="text" name="name" placeholder="Campsite Name"></input>
  <input type="text" name="imageURL" placeholder="Image URL"></input>
  <button>Submit</button>
</form>

<a href="/">Home</a>

<? include partials/footer ?>
