
<? include ../partials/header ?>

<? const campsiteUrl = '/campsites/' + campsite._id; ?>

<h2><?= campsite.name ?></h2>

<img src="<?= campsite.imageUrl ?>">

<p><?= campsite.description ?></p>

<? campsite.comments.forEach(function (comment) { ?>
  <p>
    <strong><?= comment.author ?></strong>
     - <?= comment.text ?>
  </p>
<? }); ?>

<a href="<?= campsiteUrl ?>/comments/new">Create Comment</a>

<? include ../partials/footer ?>
