
<? include ../partials/header ?>

<? const siteUrl = '/campsites/' + site._id; ?>

<h2><?= site.name ?></h2>

<img src="<?= site.imageUrl ?>">

<p><?= site.description ?></p>

<? site.comments.forEach(function (comment) { ?>
  <p>
    <strong><?= comment.author ?></strong>
     - <?= comment.text ?>
  </p>
<? }); ?>

<a href="<?= siteUrl ?>/comments/new">Create Comment</a>

<? include ../partials/footer ?>
